
.catalog-body{
    width: 100%;
    min-height: 85vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
    
   
}
.filter-container{
    width: 90%;
    max-width: 950px;
    margin: 2% auto;
    color: $textWhite;
    font-size: 1.2rem;
    input{
        width: 100%;
        height: 2rem;
        max-width: 450px;
        margin-left: 1%;
        border-radius: 5px;
        font-size: 1rem;
    }
}
.main-list {
    min-height: 50vh;
    width: 935px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;   
    margin: 3% auto;
}
.paginationBttns {
    display: flex;
    color: ghostwhite;
    list-style: none;
    height: 8vh;
    gap: 20px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    
    
    li{
        display: inline;
        height: fit-content;
        a{
            height: auto;
            cursor: pointer;
            font-size: 1.5rem;
        }
    }
}
.paginationActive a {
    color: $colorPalette2;
    border-radius: 5%;
}
.previousBttn , .nextBttn {
    font-size: 2.5rem !important;
    margin: 0 10%;
    
}

@media screen and (max-width: 945px) {
    
    .main-list {
        max-width: 705px;
        
        height: 100%;
    }
    
}
@media screen and (max-width: 705px) {  
    .main-list {
        max-width: 519px;
        min-height: 70vh;
    }
    
}
@media screen and (max-width: 540px) {
    .main-list {
        max-width: 338px; 
    }
}