
.catalog-body{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.filter-container{
    width: 90%;
    max-width: 950px;
    margin: 2% auto;
    color: $textWhite;
    input{
        width: 100%;
        max-width: 450px;
        margin-left: 1%;
        border-radius: 5px;
    }
}
.main-list {
    
    width: 898px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 10px;   
    margin: 3% auto;
}
.paginationBttns {
    display: flex;
    color: ghostwhite;
    list-style: none;
    height: 8vh;
    width: auto;
    gap: 20px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    
    
    li{
        display: inline;
        height: fit-content;
        a{
           
            height: auto;
            cursor: pointer;
           
        }
    }
}
.paginationActive a {
    font-weight: bolder;
    font-size: 1.1em;
    color: $colorPalette5;
    border-radius: 5%;
}
.previous , .next {
    font-size: 1.6em;
    margin: 0 10%;
}

@media screen and (max-width: 945px) {
    .main-list {
        max-width: 705px;
    }
}
@media screen and (max-width: 705px) {  
    .main-list {
        max-width: 519px;
        min-height: 85vh;
    }
    .catalog-body{ 
        height: fit-content;
    }
}
@media screen and (max-width: 540px) {
    .main-list {
        max-width: 338px; 
    }
}