.page-body {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 2%;   
}
.pre-player {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;     
}
.pressPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    position: absolute;
    z-index: 1;
    color: whitesmoke;
    border-radius: 10%;
    border: none;
    height: 14vh;
    width: 14vh;
    background-color: hsla(0, 0%, 80%, 0.3);  
}
.film-gallery-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.CrossfadeImage{
    width: 100%;
    height: 100%;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    } 
}
.page-first {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
    gap: 20px; 
    img {
        height: 35vh;
        object-fit: cover;
        align-self: flex-start;
        margin: 0 auto;  
        display: flex;
    }
}
.page-header-container{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}
.page-header{
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    h1 {
        font-size: 1.7em;
        width: 100%;
        text-align: center;
    }
    p {
        display: inline;
        
    }  
}
.page-info{
    font-weight: 300;
    font-style: oblique;
    margin-left: 0;
        
    
}
.page-synopsis {
    font-size: 1.1em;
    display: block;
    width: 90%;
    margin: 2% 0; 
    text-align: justify;
}
@media screen and (min-width: 650px), (aspect-ratio: 4/3) { 
    .page-video {    
        margin-bottom: 2%; 
    }
    .page-first{
        flex-direction: row;
    }
    .page-poster {
       margin: 2%;       
    }
    .page-header{
        padding-top: 1%;
        margin-right: auto;
        width: 100%;
        h1 {
            font-size: 2em;
            text-align: left;
        }
    } 
    .page-synopsis {
        width: auto;   
    }
}
.page-second {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5vh;
}
.cast {
    margin: 2%;
    font-weight:200;
    h2 {
        margin: 1%;
    }
    a {
        text-decoration: none;
        color: currentColor;
        font-style: oblique;
        font-weight:400;
        &:hover{
            font-weight: bolder;
        }
    }
    li {
        margin: 0.8% 0;
        list-style: none;
    }
    .role{
        display: inline;
        font-weight: 600;
        margin-right: .7%;
    }
}
.media {
    width: fit-content;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: 0; 
}
.page-button {
    margin: 3% auto;
    width: 150px;
    border: 3px solid black;
    border-radius: 7px;
    padding: 3% 0;
    background: none;
}
@media screen and (max-width: 650px) {
    .page-second {
        flex-direction: column-reverse;
    }
    .media { 
        flex-direction: row;
        width: 90%;
        flex-wrap: wrap;
    }
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.popup-inner {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 6vh;
    height: 6vh;
    top:0%;
    right:0;
    background-color: hsla(0, 0%, 100%, 0.7);
    border: 1px solid black;
    border-radius: 50%;
    padding: 12px; 
}
.page-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%; 
    padding: 5%;
    .active {
        width: 100%;
        display:inline;
    }
    img {
        width: 100%; 
        margin: 0 auto
    }
}

.page-left-arrow{
    @include pageSliderArrow();
    left: 0%;    
}
.page-right-arrow{
    @include pageSliderArrow();
    right: 0;
}
 
