.main-body {
    background-color: black;
    color: $textWhite;
    width: 100%; 
    padding: 2%;
}
.mySwiper {
    height: 50vh;
    max-width: 900px;
    margin-bottom: 5vh;
    overflow: visible !important;     
}
.swiper-button-next::after, .swiper-button-prev::after {
    color: ghostwhite;
}
.swiper-pagination {
    bottom: -7% !important;
    span {
        background-color: #f8f8ff;
        height: 2vh;
        width: 2vh;
    }    
}
.swiper-slide {
    height: 100%;
}
.gallery-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px ;
}
.slide-text {
    position: absolute;
    bottom: 0;
    padding: 2%; 
    height: 40%;
    overflow: hidden;
    color: $textWhite;
    text-shadow: 0 0 5px black;
}
.slide-synopsis {
    font-size: 1em;
}
.slide-header {
    display: flex;
    justify-content: left;
    align-items: center;
    h2 {
        margin: 0 2%;
        font-size: 1.8em;
    }
    p {
        font-style: oblique;
        margin: 1%;
    }
}
.left-arrow{
    @include sliderArrow();
    left:3%;   
}
.right-arrow {
    @include sliderArrow();
    right:3%; 
}
@media screen and (max-width: 650px) {
    .slide-header h2 {
        font-size: 1.2em;
    }
    .slide-synopsis {
        font-size: .8em;
    }
    .slide-info {
        font-size: .6em;
    }
}
@media screen and (max-width: 450px){
    .slide-header{
        display: block;
    }
    .slide-text{
        height: 45%;
    }
}
.slide-tag {
    width: 100%;
    max-width: 1000px;
    margin: 1% auto 0 auto; 
    padding-left: 1%; 
}
        /*      SUBSLIDE     */

.subslide-container {
display: flex;
position: relative;
align-items: center;
width: 100%;
max-width: 1000px;
overflow-x: scroll;
overflow-y: hidden;
border-top: 2px solid white;
scroll-behavior: smooth; 
padding-top: .5%;
} 
.subSlide-button {
    cursor: pointer;
    user-select: none;
    z-index: 4;
    position: sticky;
    border: 1px solid white;
    opacity: 0.8;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.2);
    svg {
        position: static;
        width: 7vh;    
    }
}
.button-prev  {
    left: 0;
    margin-right: -7%;  
}
.button-next{
    right: 0;
    margin-left: auto;   
}


.card-container { 
    
    height:25vh;
    min-height: 210px;
    margin: 0.5% .75%;
    position: relative;
    transition: transform 0.3s;
    
    img {
        object-fit: contain;
        height: 100%;  
        width: auto;
    }
    &:hover {
        transform: scale(1.15);
         
    }
    .card-overlay{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:space-around;
        position: absolute;
        padding: 5%;
        height: 102%;
        width: 102%;
        color: ghostwhite;
        background-color: hsla(0, 0%, 0%, 0.7);
        opacity: 0;
        transition: opacity 0.3s;
        text-align: center;
        font-size: 0.8em;
        h2 {
            font-size: 1.3em;
        }
        i {
            margin-top: 0;
        }
        &:hover {
            opacity: 1;  
        }  
    }
}

@media screen and (max-width: 450px) {
    .card-overlay {
        font-size: .7em;
    }
}
