.main-body {
    background-color: black;
    color: $textWhite;
    width: 100%; 
    padding: 0 4%;  
}
.mySwiper {
    height: 50vh;
    max-width: 1100px;
    margin-bottom: 5vh;
    overflow: visible !important;
    z-index: 1 !important;
    
      
}
.swiper-button-next::after, .swiper-button-prev::after {
    color: ghostwhite;
    font-size: 4rem !important;
    text-shadow: 0 0 10px  black;
   
}

.swiper-pagination {
    bottom: -7% !important;
    span {
        background-color: #f8f8ff;
        height: 2vh;
        width: 2vh;
    }    
}
.swiper-slide {
    height: 100%;
    width: 100%;
    z-index: 1 !important;
}
.gallery-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.slide-text {
    position: absolute;
    bottom: 0;
    padding: 2%; 
    height: 35%;
    width: 100%;
    overflow: hidden;
    color: $textWhite;
    text-shadow: 0 0 5px black;
}
.slide-header {
    display: flex;
    align-items: baseline;
    justify-content: left;
    h2 {
        display: inline;
        font-size: 1.8em;
        width: fit-content;
        margin-left: 0;
        margin-right: 2%;
    }
    p {
        display: inline;
        font-style: oblique;
        width: fit-content;
        margin-left: 0;
        margin-right: auto;
        font-size: 1.2rem;
       
    }
}
.slide-synopsis {
    max-width: 45rem;
    margin-left: 0;
}

@media screen and (max-width: 650px) {
    .slide-header {
        flex-direction: column;
        p{
            font-size: 1rem;
        }
    }
}
@media screen and (max-width: 450px){
    .slide-header h2{
            font-size: 1.6rem;
    }
    .slide-text{
        height: 45%;
    }
    .slide-synopsis {
        font-size: .9rem;
    }
}
.slide-tag {
    max-width: 1100px;
    font-size: 1.1rem;
}
        /*      SUBSLIDE     */

.subslide-container {
display: flex;
position: relative;
align-items: center;
max-width: 1100px;
padding: 0;
overflow-x: scroll;
overflow-y: hidden;
border-top: 2px solid white;
scroll-behavior: smooth; 
padding-top: .5%;
margin-bottom: 1.5%;
} 
.subSlide-button {
    cursor: pointer;
    user-select: none;
    z-index: 4;
    position: sticky;
    color: $textWhite;
    background: none;
    border: none;
    
    svg {
        position: static;
        width: 7vh;    
    }
}
.button-prev  {
    left: 1%;
     
}
.button-next{
    right: 1%;
    margin-left: auto;   
}


.card-container { 
    
    height:25vh;
    min-height: 210px;
    margin: 0.5% .75%;
    position: relative;
    transition: transform 0.3s;
    img {
        object-fit: contain;
        height: 100%;  
        width: auto;
    }
    &:hover {
        transform: scale(1.15);
         
    }
    .card-overlay{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:space-around;
        position: absolute;
        padding: 5%;
        height: 102%;
        width: 102%;
        color: ghostwhite;
        background-color: hsla(0, 0%, 0%, 0.7);
        opacity: 0;
        transition: opacity 0.3s;
        text-align: center;
        font-size: 0.8em;
        h2 {
            font-size: 1.3em;
        }
        i {
            margin-top: 0;
        }
        &:hover {
            opacity: 1;  
        }  
    }
}

@media screen and (max-width: 450px) {
    .card-overlay {
        font-size: .7em;
    }
}
