
$textWhite: #f8f8ff;

$logoFont:'Major Mono Display', monospace;

$colorPalette1: #FF595E;
$colorPalette2: #FFCA3A;
$colorPalette3: #8AC926;
$colorPalette4: #1982C4;
$colorPalette5: #6A4C93;

@mixin pageSliderArrow {
    position: absolute;
    height: 15vh;
    width: 6vh;
    background-color: hsla(0, 0%, 100%, 0.7);
    border-radius: 7px;
    border: none; 
}

@mixin colorAnimation {
    animation-name: rainbow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  
  @keyframes rainbow {
    0% {
      color: $colorPalette1;
   
    }
    25% {
        color: $colorPalette2;
       
    }
    50% {
      color: $colorPalette3;
    
    }
    75% {
      color: $colorPalette4;
   
    }
    100% {
      color: $colorPalette5;
  
    }
  }
}