
.about-body {
    width: 98%;
    max-width: 800px;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-content {
    display: flex;
    padding: 2%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 300;  
    text-align: justify;
}
.videoTag {
    border-radius: 5px;
    object-fit: contain;
    border: red;
}
.about-sub {
    max-width: 400px;
    height: inherit;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.about-sub h1 {
    font-size: 3.5em;
    font-weight: 300;
    font-style: oblique;
    margin-left: 5%;
}
.about-textB{
    max-width: 400px;
    margin-right: 2%;   
}
@media screen and (max-width: 650px), (aspect-ratio: 4/3) {
    .about-content {
        margin-bottom: 10%;
        position: relative;
        width: 100%;  
    }
    .about-sub {
        position: absolute;
        background-color: hsla(0, 0%, 100%, 0.5);
        margin: 5% 0;
        padding: 10px;
    }
    .about-textB {
        position: absolute;
        background-color: hsla(0, 0%, 100%, 0.5);
        margin: 5% 0;    
    }
}