*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.catalog-body{
    width: 90%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    

}

.main-list {
    display: flex;
    flex-wrap: wrap;
    margin: 2% auto;

}
