*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.catalog-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}
.filter-container{
    width: 90%;
    margin: 3% auto;
    color: white;
}
.filter-container input{
    width: 100%;
    max-width: 500px;
    margin-left: 1%;
    border-radius: 5px;
}

.main-list {
    width: 90%;
    max-width: 950px;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
    gap: 15px;
    border: 1px solid yellow;
    
}
.main-list::after {
    content: "";
    flex: auto;
}

/* .catalog-card-container {
        
} */




