*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.catalog-body{
    width: 100%;
    display: flex;
    
    background-color: black;
}

.main-list {
    width: 90%;
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 2% auto;
    justify-content: left;
    
}

.catalog-card-container {
    margin: 1%;
    height: fit-content;
    position: relative;
    
}

.catalog-label {
    position: absolute;
    left: -20%;
    height: 30vh;
    width: 40vh;
    background-color: hsla(0, 0%, 0%, 0.6);
    opacity: 0;
    
    transition: opacity 0.3s;
    z-index: 1;
    
}
.catalog-label:hover {
    opacity: 1;
}