* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main-slider {
    
    position: relative;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    
    width: 95%;
}

.active{
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slide a {
    color: currentColor;
    text-decoration: none;
    
}

.main-slider-pic {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.slide-text {
    position: absolute;
    bottom: 0;
    padding: 2%;
    background-color: hsl(0, 0%, 100%,0.3);

}


.left-arrow{
    position: absolute;
    top: 50%;
    left:10px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right:10px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}






.subslide-container {
    display: flex;
    position: relative;
    align-items: center;
    width: 95%;
    overflow-x: scroll;
    background-color: cadetblue;
    margin-top: 2%;
   
}

.card-sub {
    margin: 50px;   
}

.subSlide-button {
    position: fixed;
}

.button-next{
    right: 0;
    position: sticky;
}