
.main-slider { 
    position: relative;
    display: flex ;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
      
}
.slide a {
    color: currentColor;
    text-decoration: none;
    z-index: 4;     
}
.slide{
    display: none;
    border-radius: 15px; 
    overflow: hidden;   
}
.active{
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
}

.active img {
    object-fit: cover; 
    width: 100%;
    height: 100%;
    
    margin: 0;
}

.slide-text {
    position: absolute;
    bottom: 0;
    padding: 2%;
    background: none;
    z-index: 3;
    width: 100%;
    height: 30%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    color: ghostwhite;
}
.slide-header {
    display: flex;
    align-items:baseline   
}
.slide-info {
    margin: 0 2%;
    font-style: oblique;
    width: fit-content;   
}
.left-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:-6%;
    z-index: 4;
    cursor: pointer;
    user-select: none;
    width: 10vh;
    height: 10vh;
    background: none;
    border: none;

}
.right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:-6%;
    z-index: 4;
    cursor: pointer;
    user-select: none;
    width: 10vh;
    height: 10vh;
    background: none;
    border: none;
    
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 1.2em;
    }
    .slide-text p {
        font-size: .8em;
    }
    .slide-header h1 {
        width: 60%;
    }
}

                    /*      SUBSLIDE     */

.subslide-container {
    display: flex;
    position: relative;
    align-items: center;
    height: fit-content;
    max-width: 1100px;
    overflow-x: scroll;
    overflow-y: hidden;
    border-top: 2px solid white;
    scroll-behavior: smooth; 
    padding-top: .5%; 
} 

.subSlide-button {
    cursor: pointer;
    user-select: none;
    z-index: 4;
    background: none;
    border: 1px solid white;
    opacity: 0.8;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.2);
}
.button-prev  {
    left: 0;
    position: sticky;
    margin-right: -7%;
     
}
.button-next{
    right: 0;
    position: sticky;
    margin-left: auto;   
}
.subSlide-button svg {
    position: static;
    width: 7vh;    
}




