
.nav-bar {
    display: flex;
    height: 10vh ;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background: black;
    z-index: 1;
    gap: 2%;
    color: white;
    
}
.logo-link{
    
    max-width: 50%;
    display: flex;
    align-items: center;
    height: inherit;
    text-decoration: none;
    color: currentColor;
    
}
.logo {
    font-family: 'Major Mono Display', monospace;
    border: 2px solid ;
    padding: 3px;
    border-radius: 5%;
    font-size: 2em;
    width: 100%;

    animation-name: borderColor;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
}

@keyframes borderColor {
	0% {
        border-color: #FF595E;
        box-shadow: 2px 2px 2px 1px #FF595E, -2px -2px 2px 1px #FF595E ;
    }
	25% {
		border-color: #FFCA3A;
        box-shadow: 2px 2px 2px 1px #FFCA3A, -2px -2px 2px 1px #FFCA3A ;
	}
	50% {
		border-color: #8AC926;
        box-shadow: 2px 2px 2px 1px #8AC926, -2px -2px 2px 1px #8AC926 ;
	}
	75% {
		border-color: #1982C4;
        box-shadow: 2px 2px 2px 1px #1982C4, -2px -2px 2px 1p#1982C4 ;
	}
	100% {
		border-color: #6A4C93;
        box-shadow: 2px 2px 2px 1px #6A4C93, -2px -2px 2px 1px #6A4C93 ;

	}
}

.link-panel {
    width: fit-content;
    min-width: 40%;
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    flex-wrap: nowrap;   
    position: relative;
}
.link-panel a {
    text-decoration: none;
    color: currentColor;
    font-size: 1.1em;
    border-radius: 5px;
    padding: 1.5%;
    margin: 2%;
    display: flex;
    align-items: center; 
}
#i-search {
    height: 80%;
    color: white;
}
.lang {
    background: none;
    color: currentColor;
    border: none;
    
    
}
@media screen and (min-width: 650px), (aspect-ratio: 4/3) {

    .logo {
        font-size: 2.8em;
        border: 3px solid ;
    }
 }
 @media screen and (max-width: 500px), (aspect-ratio: 4/3) {

    .logo {
        font-size: 1.6em;
    }
    .lang{
        position: absolute;
        top: -10px;
        right: 10px;
    }
    .link-panel a{
        font-size: 0.9em;
    }
 }