
.nav-bar {
    display: flex;
    height: 10vh ;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background: black;
    z-index: 1;
    gap: 2%;
    color: white;
}
.logo-link{
    
    max-width: 50%;
    display: flex;
    align-items: center;
    height: inherit;
    text-decoration: none;
    color: currentColor;
    
}
.logo {
    font-family: 'Major Mono Display', monospace;
    border: 2px solid ;
    padding: 3px;
    border-radius: 5%;
    font-size: 2em;
    width: 100%;

    animation-name: borderColor;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
}

@keyframes borderColor {
	0% {
        border-color: #ee6055;
        box-shadow: 2px 2px 2px 1px #ee6055, -2px -2px 2px 1px #ee6055 ;
    }
	25% {
		border-color: #60d394;
        box-shadow: 2px 2px 2px 1px #60d394, -2px -2px 2px 1px #60d394 ;
	}
	50% {
		border-color: #aaf683;
        box-shadow: 2px 2px 2px 1px #aaf683, -2px -2px 2px 1px #aaf683 ;
	}
	75% {
		border-color: #ffd97d;
        box-shadow: 2px 2px 2px 1px #ffd97d, -2px -2px 2px 1p#ffd97d ;
	}
	100% {
		border-color: #ff9b85;
        box-shadow: 2px 2px 2px 1px #ff9b85, -2px -2px 2px 1px #ff9b85 ;

	}
}

.link-panel {
    width: fit-content;
    min-width: 40%;
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    flex-wrap: nowrap;   
}
.link-panel a {
    text-decoration: none;
    color: currentColor;
    font-size: 1.1em;
    border-radius: 5px;
    padding: 1.5%;
    margin: 2%;
    display: flex;
    align-items: center; 
}
#i-search {
    height: 80%;
    color: white;
}


@media screen and (min-width: 650px), (aspect-ratio: 4/3) {

    .logo {
        font-size: 2.8em;
        border: 3px solid ;
    }
 }
 @media screen and (max-width: 400px), (aspect-ratio: 4/3) {

    .logo {
        font-size: 1.5em;
    }
 }