*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    padding: 20px;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
}

.link-panel {
    width: 20%;
    display: flex;
    justify-content: space-around;
   
}

